html{
    box-sizing: border-box;
 }
 *,*::before, *::after{
    box-sizing: inherit;
 } 

body{
    font-weight: 400;
    color: #4E5983;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

a {
    
    text-decoration: none;
    color:  #4E5983;
  }
  ul,
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  .container {
    max-width: 1170px;
    margin: auto;
  }
  