@import "vars";
@import "libs";
@import "fonts";
@import "gloval";

.header{
    margin-top: 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
        a{
            padding-right: 43px;
            &:hover{
                color: #160647;
            }
        }
    }
    .header-btns{
        .in{
            border:none;
            background:none;
            color:#4E5983;
            cursor: pointer;
            &:hover{
                color: #160647;
            }
        }
        .up{
            cursor: pointer;
            border: none;
            width: 157px;
            height: 55px;
            background: rgba(#FF677D, 0.11);
            border-radius: 9px;
            color: #FFB0B1;
            font-weight: 500;
            &:hover{
                font-weight: 600;
                background: rgba(#FF677D, 0.15);
            }
        }
    }
}
.banner{
    margin-top: 20px;
    background-color:#FFDCDC;
    background-repeat: no-repeat;
    width: 100%;
    height:750px;
    border-radius: 20px;
    &-info{
        
        margin-top: 150px;
    }
    
}
.banner-content{
    float: left;
    &__title{
        font-weight: 500;
        font-size: 43px;
        line-height: 56px;
        letter-spacing: 0.796px;
        color: #160647;
    }
    &__subtitle{
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.15px;
    }
    &__btn{
        cursor: pointer;
        border: none;
        width: 193px;
        height: 60px;
        left: 191px;
        top: 593px;
        line-height: 24px;
        letter-spacing: 0.15px;
        background: #FDB797;
        border-radius: 30px;
        color: #fff;
        margin-top:10px ;
        &:hover{
            opacity: 0.9;
        }
    }
}
.banner-img{
    float: right;

}
.banner-slider{
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .slick-dots li{
        list-style: none;
        padding: 0 10px ;
    }
    .slick-dots button{
        font-size: 0;
        border: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #FFB9B9;
    } 
    .slick-dots li.slick-active button{
        background-color: #FF677D;
    }
   




// PROGRAMS //
.programs{
    margin-top: 65px;
    margin-bottom: 200px;
}
.programs-slider__info-title{
    padding-bottom: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #160647;
}
.card{  
    position: relative;
    margin-top: 10px;
    .card-item{
        
        text-align: center;
        width: 277px;
        height: 370px;
        box-shadow: -4px 4px 53px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
        img{
            display: block;
            margin-left: auto;
            margin-right:auto ;
            margin-top: 22px;
        }
        &__title{
            margin-top: 22px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #160647;
        }
    }
    .slick-slide.slick-current{
        box-shadow: -2px 4px 19px rgba(0, 0, 0, 0.25);
        border: 3px solid #E0E0E0;
        border-radius: 35px;
         
    }
    .slick-track{
       
        display: flex;
        justify-content: space-between;
    }
    .slick-slide{
        margin: 0 70px;
        
    }
    .slick-arrow{
        position: absolute;
        top: -25%;
        z-index: 20;
        font-size: 0;
    }
    .slick-arrow.slick-prev{
        width: 37px;
        height: 16px;
        right: 86px;
        background: url(../images/arrow-left.svg);
    }
    .slick-arrow.slick-next{
        width: 72px;
        height: 16px;
        right: 0;
        background: url(../images/arrow-right.svg);
    }
    
}



.appointment{
    background-color: #FFDCDC;
    background-repeat: no-repeat;
    width: 100%;
    
}
.appointment-banner{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
.appointment-banner__img{
    display: flex;
    justify-content: center;
    width: 460px;
    height: 506px;
    background-color: #fff;
    border-radius: 25px;
}
.appointment-banner__content{
    padding-left: 80px;
    width: 424px;
    height: 506px;
    background: #F5F5F5;
    position: relative;
    left: -21px;
    &::before{
        content:" ";
        display: block;
        position: absolute;
        top: -33px;
        right: 27px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #FDB797;
    }
    &-title{
        
        margin-top: 80px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        color: #160647;
    }
    &-subtitle{
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
    &-telephone{
        display: flex;
        margin-top: 34px;
        img{
            margin-right: 12px;
        }
    }
    &-email{
        display: flex;
        text-align: center;
        margin-top: 37px;
        img{
            margin-right: 12px;
            
        }
    }
    &-btn{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 30px;
        cursor: pointer;
        border: none;
        width: 285px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgba(#FDB797, 0.11);
        border-radius: 9px;
        color: #FFB0B1;
        font-weight: 500;
        &:hover{
            font-weight: 600;
            background: rgba(#FDB797, 0.15);
        }
    }
}




.about{
    
    .about-flex{
        margin-top: 100px;
        
    }
    &-slider{
        margin-top: 200px;
        
        
        &__title{
            position: relative;
            font-weight: 500;
            font-size: 35px;
            line-height: 132.4%;
            color: #160647;
            &::before{
                content: " ";
                background: url(../images/covid.svg);
                width: 63px;
                height: 60px;
                position: absolute;
                top: -4px;
                left: 495px;
            }
            
        }

        &__item{
           
            
            &-comment{
                font-size: 18px;
                line-height: 166%;
                color: #4E5983;
                opacity: 0.7;
            }
            &-author{
                font-size: 20px;
                line-height: 155.5%;
                color: #160647;
                span{
                    font-size: 14px;
                    line-height: 17px;
                    color: #838BA8;
                }
            }
        }
    }
}




// EXPERTICE \\

.expertice{
    margin-top: 200px;
    background-color: #FDB797;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    &-title{
        padding-top: 80px;
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #160647;
    }
    &-grid{
        padding-top: 100px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3,360px);
        grid-template-rows: repeat(2,297px);
        grid-gap: 15px 15px;
    }
    .expertive-grid__item{
       
        text-align: center;
        width: 360px;
        height: 297px;
        background-color: #fff;
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

}





.footer{
    background: #FFDCDC;
    height: 536px;
    width: 100%;
    &-call{
        font-size: 18px;
        line-height: 21px;

        color: #160647;
    }
    .footer-menu{
        
        a{
            
            display: block; 
            padding-top: 10px;
        }
    }
    
    .footer-content{
        
        display: flex;
        justify-content: space-between;
        .footer-content__video{
            img{
                padding-top: 70px;
            }
        }
        .footer-content__info{
            padding-top: 70px;
        }
        .footer-content__info-items{
        
            margin-left: 53px;
        }
        &__reg{
            padding-top: 70px;
            width: 348px;
            height: 536px;
            background: #FF99A6;
            .icons{
                display: flex;
                justify-content: center;
                img{
                    padding-left: 13px;
                    padding-bottom: 18px;
                }
                
            }
        }
    }
    
}


@import "media";
